.post{
    display: grid;
    grid-template-rows: 1fr 30px;
    background-color: aqua;
  margin-bottom: 25px;
}
.news{
}
.image{
    width: 50px;
}
.buttons{
    display: grid;
    grid-template-columns: 50px 30px auto;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
}