.general {
    cursor: pointer;
    display: flex;
    background-size: cover;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    & h1{
        color: #dcf92f;
    }

    & p{
        color: white;
    }
    img{
        width: 100%;
        object-fit: cover;
    }

}

.verticalArticle {

    grid-area: verticalArticle;
    background-image: url("../../../../image/background-profile-box-left.png");
    img{
        height: 300px;
    }
}

.bottomLeftArticle {
    grid-area: bottomLeftArticle;
    background-image: url("../../../../image/background-profile-box.png");
    img{
        height: 250px;
    }
}

.bottomRightArticle {
    /*display: flex;*/
    /*align-items: end;*/
    text-align: right;
    grid-area: bottomRightArticle;
    background-image: url("../../../../image/background-profile-box-left.png");
    background-position: center;
    img{
        height: 250px;
    }

}

.postDescription{
    height: 70%;
}