.messages {
    height: 100vh;
    color: white;
    padding: 30px;
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-column-gap: 20px;
    background-image: url("../../../image/background-frame.png");

}

.dialogs {

    padding: 10px;

    & div {
        margin-bottom: 10px;
    }
}

.dialog {
}