.button{
    /*border-radius: 10px;*/
    color: white;
    transition: .2s linear;
    background: #0B63F6;
    width: 45px;
    height: 25px;
    border: none;
    margin: 5px 0;

    &:hover{
        box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
    }
}
