.posts {
    display: grid;
    grid-template-columns: 1fr;
}
.newPost {

}
.postsList{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 300px;
    grid-gap: 10px;

}