.nav {
    grid-area: nav;

    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);

    width: 350px;
    height: 68px;
    padding: 6px 25px;

    display: flex;
    gap: 6px;
    justify-content: space-around;
    align-items: center;

    border-radius: 50px;

    background: rgba(68, 68, 68, 0.22);
    backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);

    border: 1px solid rgba(255, 255, 255, 0.35);

    box-shadow:
            inset 0 1px 1px rgba(255, 255, 255, 0.6),
            inset 0 -1px 1px rgba(255, 255, 255, 0.2),
            0 12px 30px rgba(0, 0, 0, 0.18);
}
i{
    color: #ffffff;
    font-size: 25px;
}

.navLink {
    outline: none;
    text-decoration: none;
    flex: 1;
    height: 100%;
    border-radius: 34px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    position: relative;
    cursor: pointer;

    transition:
            transform 0.35s cubic-bezier(.2,.8,.2,1),
            background 0.35s ease,
            box-shadow 0.35s ease;


    &::before {
        content: "";
        position: absolute;
        inset: 0;

        border-radius: inherit;

        background: rgba(255, 255, 255, 0.18);
        backdrop-filter: blur(10px) saturate(160%);
        -webkit-backdrop-filter: blur(10px) saturate(160%);

        opacity: 0;
        transition: opacity 0.35s ease;

        box-shadow:
                inset 0 1px 1px rgba(255, 255, 255, 0.6),
                inset 0 -1px 1px rgba(255, 255, 255, 0.2);
    }

    &:hover::before {
        opacity: 1;
    }

    &:hover {
        transform: translateY(-2px);
    }
}
