.nav {
    grid-area: nav;
    background-color: #1f1f25;
    display: grid;
    grid-gap: 15px;
    padding: 25px 25px;
    border-radius: 20px;
    height: 300px;
}

.navLink {
    cursor: pointer;
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;

    &:hover {
        color: #6495EDFF;
    }
}

.navLinkActive {
    color: #ff7926;
}
