.profile {
    display: grid;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    grid-template-columns: 3fr 5fr 5fr;
    grid-template-rows: 280px 1fr;
    grid-template-areas:
    'verticalArticle userPersonalInfo userPersonalInfo'
    'verticalArticle bottomLeftArticle bottomRightArticle';
    grid-gap: 15px;
    padding: 10px;
}


