.profile {
    display: grid;
    grid-area: main;
    width: 100%;
    background-color: #6495EDFF;
    grid-template-columns: 100%;
    grid-template-rows: 250px 150px auto;
}

.profile__poster {
    background-image: url("https://images4.alphacoders.com/485/thumb-1920-48578.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
