*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #292a31;
}
.app-logo {
    height: 40px;
    pointer-events: none;
}

.app-logo {
    animation: app-logo-spin infinite 20s linear;
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-wrapper {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas:
    "header header"
    "nav main";
}

.app-header {
    grid-area: header;
    background-color: #1f1f25;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.app-nav {
    grid-area: nav;
    background-color: #1f1f25;
    display: grid;
    grid-template-rows: repeat(5, 35px);
    grid-gap: 15px;
    padding: 25px 25px;
    border-radius: 20px;
    & a{
        cursor: pointer;
        color: aliceblue;
        font-size: 20px;
        text-decoration: none;

        &:hover{
            color: #6495EDFF;
        }
    }
}

.app-main {
    display: grid;
    grid-area: main;
    width: 100%;
    background-color: #6495EDFF;
    grid-template-columns: 100%;
    grid-template-rows: 250px 150px auto;
}
.main-poster{
    background-image: url("https://images4.alphacoders.com/485/thumb-1920-48578.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}