* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #292a31;
}

.App-wrapper {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas:
    "header header"
    "nav main";
}

.App-content{
    grid-area: main;
    background-color: #6495EDFF;
}