* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292a31;
}

.App-wrapper {
    width: 80%;
    margin: 0 auto;

    /*min-height: 100vh;*/
    /*display: grid;*/
    /*grid-template-columns: 1fr;*/
    /*grid-template-rows: 60px auto;*/
    /*grid-row-gap: 10px;*/
    /*grid-column-gap: 10px;*/
    /*grid-template-areas:*/
    /*!*"header"*!*/
    /*"main";*/
}

.App-content{
    grid-area: main;
    /*height: 100vh;*/
    /*background-color: #6495EDFF;*/
    background-color: #737373;

    /*border-radius: 20px;*/
    /*display: grid;*/
    /*grid-template-columns: 1fr;*/
    /*grid-auto-rows: 1fr;*/
}

.App-nav-bar{
    background-color: #ff7926;
}