* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292a31;
}

.App-wrapper {
    width: 80%;
    margin: 0 auto;
}

.App-content{
    grid-area: main;
    /*background-color: #737373;*/
}