@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.profileInfo {
    grid-area: userPersonalInfo;
    background-color: lightgray;
    background-image: url("../../../../image/background-profile-box.png");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 15px;
    grid-column-gap: 15px;

}

.profileAvatar {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.profileDescription {
    display: grid;
    grid-template-rows: auto auto 1fr;
    /*align-self: end;*/
    /*font-family: "Montserrat", sans-serif;*/
    /*font-family: "Manrope", sans-serif;*/
    font-family: "Rubik", sans-serif;
    color: white;

    & h1 {
        font-size: 50px;

        & span{
            color: #dcf92f;
        }
    }

    & p{
        width: 50%;
    }
}

.button{
    width: 135px;
    height: 35px;
    background-color: #dcf92f;
    border: none;
    outline: none;
    color: #000000;
    bottom: 0;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);


    &:hover{
        background-color: #000000;
        color: white;
        transition: all 0.3s ease;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}